{% include 'base.html' %}
{% include 'nav2.html' %}

{% block content %}
<h1 class="text-center">Vaccination Center Details</h1>
<br>
<br>
{% if Center %}
<br>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form action="" method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>

        <!-- <li class="navbar-nav nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sortBy
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/?category=1">ICU Beds</a></li>
            <li><a class="dropdown-item" href="/?category=2">Normal Beds</a></li>
            <li><a class="dropdown-item" href="/?category=3">Oxygen Cyclinder</a></li>

          </ul>
        </li> -->



      </form>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Center ID</th>
        <th scope="col">Center Name</th>
        <th scope="col">City</th>
        <th scope="col">Locality</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
        {% for cent in Center %}
      <tr>
        <th scope="row">{{cent.Center_ID}}</th>
        <td>{{cent.Center_name}}</td>
        <td>{{cent.City}}</td>
        <td>{{cent.Locality}}</td>
        <td>{{cent.Phone}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h1>No Data</h1>

{% endif %}
{% endblock content %}


{% include 'footer.html'%}