{% include 'base.html' %}
{% include 'nav2.html' %}
{% load static %}
{% block content %}

<h1 class="text-center">Hospital Details</h1>
<br>
<br>
{% if hosp %}
<br>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form action="" method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>


<table class="table table-striped table-sortable">
    <thead>
      <tr>
        <th scope="col">Hospital ID</th>
        <th scope="col">Hospital Name</th>
        <th scope="col">City</th>
        <th scope="col">Locality</th>
        <th scope="col">Type</th>
        <th scope="col">Phone</th>
        <th scope="col">Available ICU Beds</th>
        <th scope="col">Available Normal Beds</th>
        <th scope="col">Available Oxygen Cyclinder</th>
      </tr>
    </thead>
    <tbody>
        {% for hos in hosp %}
      <tr>
        <th scope="row">{{hos.Hospital_ID}}</th>
        <td>{{hos.Hospital_name}}</td>
        <td>{{hos.City}}</td>
        <td>{{hos.Locality}}</td>
        <td>{{hos.Type}}</td>
        <td>{{hos.Phone}}</td>
        <td class="ICU">{{hos.Av_ICU_Beds}}</td>
        <td class="Normal">{{hos.Av_Normal_Beds}}</td>
        <td class="Oxygen">{{hos.Av_Oxygen_Cylinder}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h1>No Data</h1>

{% endif %}

<script src="{% static 'tablesort.js'%}"></script>
{% endblock content %}

<style>
  .table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  
</style>
{% include 'footer.html'%}