{% include 'base.html' %}
{% include 'nav2.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Vaccines Details</h1>
<br>
<br>
{% if vacc %}
<br>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form action="" method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<table class="table table-striped table-sortable">
    <thead>
      <tr>
        <th scope="col">Vaccine ID</th>
        <th scope="col">Vaccine Name</th>
        <th scope="col">Disease Targetting</th>
        <th scope="col">Required Doses</th>
        <th scope="col">Interval between Doses (in days)</th>
      </tr>
    </thead>
    <tbody>
        {% for vac in vacc %}
      <tr>
        <th scope="row">{{vac.Vaccine_ID}}</th>
        <td>{{vac.Vaccine_name}}</td>
        <td>{{vac.Disease_targetting}}</td>
        <td>{{vac.Required_Doses}}</td>
        <td>{{vac.Interval_btw_Doses_indays}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h1>No Data</h1>

{% endif %}
<script src="{% static 'tablesort.js'%}"></script>

{% endblock content %}

<style>
  .table-sortable th {
    cursor: pointer;
  }
  
  .table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }
  
  .table-sortable .th-sort-asc::after,
  .table-sortable .th-sort-desc::after {
    margin-left: 5px;
  }
  
  .table-sortable .th-sort-asc,
  .table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  
</style>
{% include 'footer.html'%}