{% include 'base.html' %}
{% include 'nav2.html' %}

{% block content %}
<h1 class="text-center">Vaccines Details</h1>
<br>
<br>
{% if vacc %}
<br>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form action="" method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>

        <!-- <li class="navbar-nav nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sortBy
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/?category=1">ICU Beds</a></li>
            <li><a class="dropdown-item" href="/?category=2">Normal Beds</a></li>
            <li><a class="dropdown-item" href="/?category=3">Oxygen Cyclinder</a></li>

          </ul>
        </li> -->



      </form>
    </div>
  </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Vaccine ID</th>
        <th scope="col">Vaccine Name</th>
        <th scope="col">Disease Targetting</th>
        <th scope="col">Required Doses</th>
        <th scope="col">Interval between Doses (in days)</th>
      </tr>
    </thead>
    <tbody>
        {% for vac in vacc %}
      <tr>
        <th scope="row">{{vac.Vaccine_ID}}</th>
        <td>{{vac.Vaccine_name}}</td>
        <td>{{vac.Disease_targetting}}</td>
        <td>{{vac.Required_Doses}}</td>
        <td>{{vac.Interval_btw_Doses_indays}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<h1>No Data</h1>

{% endif %}
{% endblock content %}


{% include 'footer.html'%}